{% extends 'base.html' %}

{% block titulo %}Cadastro de curso{% endblock %}

{% block corpo %}
<div align="center" style="margin-top : 50px;">
    <div align="center">
        <h1>Cadastro de Cursos</h1>
    </div>
    <form action="" method="POST" style="width: 70%;">
        {% csrf_token %}
        <div class="mb-3">
            <div align="left">
                <label for="formGroupExampleInput" class="form-label">Nome do Curso</label>
            </div>
            <input type="text" class="form-control" id="nome" name="nome" placeholder="Informe o nome do curso">
        </div>
        <div class="mb-3">
            <div align="left">
                <label for="formGroupExampleInput2" class="form-label">Duração</label>
            </div>
                <input type="text" class="form-control" id="duracao" name="duracao" placeholder="Carga horária em horas">
        </div>
        <div align="right">
            <input class="btn btn-primary" type="submit" value="Cadastrar">
            <input class="btn btn-secondary" type="reset" value="Cancelar">
        </div>
    </form>
    
</div>
    
   
    {% endblock %}
